#
# HW Accelerator device configuration
#

config HW_ACCEL
	tristate "Google HW Accelerator Class Support"
	help
	  HW Accelerator class support for Google. This option selects
	  the framework / common code needed for the Google's hardware
	  accelerator projects.
